absl-py
accelerate
aiofiles
aiohttp
aiosignal
altair
anyio
appdirs
archinfo
asttokens
async-timeout
attrs
backcall
backports.functools-lru-cache
bitsandbytes
black
blessed
cachetools
capstone
certifi
charset-normalizer
click
contourpy
cycler
datasets
debugpy
decorator
dill
distro
entrypoints
evaluate
executing
fastapi
fastjsonschema
ffmpy
filelock
fire
fonttools
frozenlist
fsspec
future
google-auth
google-auth-oauthlib
gpustat
gradio
grpcio
h11
httpcore
httpx
huggingface-hub
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipywidgets
jedi
Jinja2
joblib
jsonlines
jsonschema
jupyter_client
jupyter_core
jupyterlab-widgets
kiwisolver
lightning-utilities
linkify-it-py
llama_stack
loguru
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdit-py-plugins
mdurl
multidict
multiprocess
mypy-extensions
nbformat
nest-asyncio
numpy
nvidia-cublas-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-ml-py
oauthlib
orjson
packaging
pandas
parso
pathspec
peft
pexpect
pickleshare
Pillow
pkgutil_resolve_name
platformdirs
prompt-toolkit
protobuf
psutil
psycopg2-binary
ptyprocess
pure-eval
pyarrow
pyasn1
pyasn1_modules
pydantic
pyDeprecate
pydub
Pygments
pyparsing
pyrsistent
python-dateutil
python-multipart
pytorch-lightning
pytz
PyYAML
pyzmq
regex
requests
requests-oauthlib
responses
rfc3986
rsa
scikit-learn
scipy
seaborn
semantic-version
sentencepiece
six
sniffio
stack-data
starlette
tensorboard
tensorboard-data-server
tensorboardX
termcolor
threadpoolctl
tokenize-rt
tokenizers
tomli
toolz
torch
tornado
tqdm
traitlets
transformers
typing_extensions
uc-micro-py
urllib3
uvicorn
wcwidth
websockets
Werkzeug
widgetsnbextension
xxhash
yarl
zipp
